<div class="ml-3">
    <h1>Dashboard</h1>
    <p class="subtitle">{{ getSpoolCount() }} Spools verfügbar</p>
</div>

<div *ngIf="this.spools.length == 0">
  <p-card class="mt-4">
    <ng-template pTemplate="title">
      No Spools Found
    </ng-template>
    <ng-template pTemplate="content">
      There are currently no spools available.
    </ng-template>
  </p-card>  
</div>
<div *ngIf="this.spools.length > 0" class="spool-grid">
  <p-card *ngFor="let spool of this.spools" class="spool-card">
    <ng-template #header>
        <div class="card-header">
            <div>
                <h2 class="brand-name">{{ spool.brand?.name ?? 'Unknown Brand'}}</h2>
                <p class="color-label">{{ spool.color ?? 'Unknown Color' }}</p>
            </div>
            <div class="color-display">
                <div class="color-box" [style.backgroundColor]="getColorCode(spool.color)" 
                     [title]="spool.color ?? 'Unknown Color'"></div>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="content">
      <div class="card-content">
        <div class="content-item">
          <span class="label">Material:</span>
          <span class="value">{{ spool.material }}</span>
        </div>
        <div class="content-item">
          <span class="label">Gewicht:</span>
          <span class="value">{{ spool.weight }} g</span>
        </div>
      </div>
    </ng-template>
  </p-card>
</div>